p {
    justify-content: center;
    color: #eeeeee;
}
.links {
    float: right;
}
span {
    color: #eeeeee;
    float: right;
}
footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
  }
  
  footer .media-link {
    height: 32px;
  }
  
  footer a {
    margin-right: 64px;
    text-decoration: none;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
  header, footer {
    background: #f8f8f8;
  }