.project {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: calc(100% - 6em);
    background: #ffebcc;
    background: rgb(231, 155, 23);
    color: #222;
    box-shadow: 0 3px 6px -2px #ccc;
    margin: 2em auto;
    padding: 1em;
}
span {
  color: #eeeeee;
  float: right;
}
p {
    color: rgb(255, 255, 255);
}
.name {
    float: right;
}

element.style {
}
section:nth-of-type(odd) > img {
    float: left;
    margin: 0 24px 24px 0;
}
footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
  }
  
  footer .media-link {
    height: 32px;
  }
  
  footer a {
    margin-right: 64px;
    text-decoration: none;
    color: black;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
  header, footer {
    background: #f8f8f8;
  }
  @media screen and (max-width:300px) {
    .first-query {
      background-color: rgb(255, 235, 177);

    }

  }
  @media screen and (max-width:1500px) {
    .second-query {
      background-color: rgb(224, 235, 255);
    }

  }
    