
h3 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
p {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.links {
    float: right;
}
span {
    float: right;
}