.project {
    font-size: 1em;
    width: calc(100% - 6em);
    background: #ffebcc;
    background: rgb(231, 155, 23);
    color: #222;
    box-shadow: 0 3px 6px -2px #ccc;
    margin: 2em auto;
    padding: 1em;
}
h3 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
p {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.links {
    float: right;
}
span {
    float: right;
}
footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
  }
  
  footer .media-link {
    height: 32px;
  }
  
  footer a {
    margin-right: 64px;
    text-decoration: none;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
  header, footer {
    background: #f8f8f8;
  }